<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodingTrackerDb"
         connectionString="Data Source=Data/CodingTrackerDb.db"
         providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="DbFilePath" value="Data/CodingTrackerDb.db" />
  </appSettings>
</configuration>
