<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbPath" value="C:\Users\barak\source\repos\CodeReviews.Console.CodingTracker\CodingTracker.barakisbrown\CodingTracker.barakisbrown\"/>
    <add key="DbName" value="code-tracker.db"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="myDB" 
         providerName="System.Data.Sqlite"  
         connectionString="Data Source="/>
  </connectionStrings>
</configuration>