<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LucianoNicolasArrieta.CodingTracker.GoalInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="LucianoNicolasArrieta.CodingTracker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="DBName" value="coding-tracker.db" />
		<add key="DBPath" value="./coding-tracker.db" />
		<add key="ConnectionString" value="Data Source=coding-tracker.db" />
	</appSettings>
 <userSettings>
  <LucianoNicolasArrieta.CodingTracker.GoalInfo>
   <setting name="Month" serializeAs="String">
    <value>""</value>
   </setting>
   <setting name="Goal" serializeAs="String">
    <value>0</value>
   </setting>
  </LucianoNicolasArrieta.CodingTracker.GoalInfo>
  <LucianoNicolasArrieta.CodingTracker.Settings1>
   <setting name="Month" serializeAs="String">
    <value />
   </setting>
   <setting name="Goal" serializeAs="String">
    <value>00:00:00</value>
   </setting>
  </LucianoNicolasArrieta.CodingTracker.Settings1>
 </userSettings>
</configuration>
