<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DatabasePath" value="F:\csharpprojects\CodeReviews.Console.CodingTracker\kAntonelli22.CodingTracker\kAntonelli22.CodingTracker\database.db"/>
		<add key="ConnectionString" value="Data Source=F:\csharpprojects\CodeReviews.Console.CodingTracker\kAntonelli22.CodingTracker\kAntonelli22.CodingTracker\database.db;Version=3;"/>
	</appSettings>
</configuration>