<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodingSessionsDatabase" connectionString="Data Source=coding-Sessions.db;" providerName="Microsoft.Data.SQLite"/>
    <add name="CodingGoalsDatabase" connectionString="Data Source=coding-Goals.db;" providerName="Microsoft.Data.SQLite"/>
  </connectionStrings>
</configuration>