<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Data Source=&quot;C:\Users\João Silva\source\repos\C# academy course\Math Game - maui\CodingTrackerCarDioLogics\CodingTrackerJMS\CodingTracker.db&quot;" />
		<add key ="dbPath" value ="CodingTracker.db" />
	</appSettings>
</configuration>
