<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultConnectionString" value="Data Source=coding-Tracker.db" />
		<add key="defaultMainTableName" value="Logs"/>
		<add key="dateTimeFormat" value ="dd-MM-yy_HH:mm"></add>
		<add key="timeSpanFormat" value ="h\:mm"></add>
	</appSettings>
</configuration>