<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultConnectionString" value="Data Source=coding-Tracker.db" />
		<add key="defaultMainTableName" value="Logs"/>
		<add key="defaultGoalsTableName" value="Goals"/>
		<add key="dateTimeMainDbFormat" value ="dd-MM-yy_HH:mm"></add>
		<add key="dateTimeGoalsDbFormat" value ="dd-MM-yy"></add>
		<add key="dateTimeDisplayFormat" value ="dd-MM-yy"></add>
		<add key="timeSpanFormat" value ="hh\:mm"></add>
	</appSettings>
</configuration>