<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="CodingTracker"/>
    <add key="Version" value="1.0.0"/>
    <add key="path" value="codingtracker.db"/>
  </appSettings>
  <connectionStrings>
    <add name="CodingTrackerDB" 
         connectionString="Data Source=codingtracker.db" 
         providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>