<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Data Source does not need to be included in the connection string. This is done automatically.-->
		<add key="connectionString" value="Version=3;"/> <!-- must end with semi colon (;) -->
		<add key="databasePath" value="databasee.db;"/> <!-- must end with semi colon (;) -->
	</appSettings>
</configuration>