<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MasterString" value="Server=(localdb)\MSSQLLocalDB;Database=master;Trusted_Connection=True;Encrypt=False;"/>
		<add key="ConnectionString" value="Server=(localdb)\MSSQLLocalDB;Database=CodingTracker;Trusted_Connection=True;Encrypt=False;"/>
	</appSettings>
</configuration>