<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodingTrackerDatabase" connectionString="Data Source=CodingTracker.db;" providerName="System.Data.SQLite" />
    <add name="InsertCodingSessionQuery" connectionString="INSERT INTO CodingSessions (date, startTime, endTime, duration) VALUES (@Date, @StartTime, @EndTime, @Duration)" />
  </connectionStrings>
</configuration>