<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodingTrackerDatabase" connectionString="Data Source=CodingTracker.db;" providerName="System.Data.SQLite" />
    <add name ="CreationQuery" connectionString="CREATE TABLE IF NOT EXISTS CodingSessions (Id INTEGER PRIMARY KEY,Date TEXT, StartTime TEXT, EndTime TEXT, Duration TEXT)"/>
    <add name="InsertCodingSessionQuery" connectionString="INSERT INTO CodingSessions (date, startTime, endTime, duration) VALUES (@Date, @StartTime, @EndTime, @Duration)" />
    <add name="QueryAllCodingSessions" connectionString="SELECT * FROM CodingSessions"/>
    <add name ="DeleteSession" connectionString="DELETE FROM CodingSessions WHERE Id = @SessionToDelete"/>
    <add name ="UpdateSession" connectionString="UPDATE CodingSessions SET date = @date, startTime = @startTime, endTime = @endTime, duration = @duration WHERE Id = @Id"/>
  </connectionStrings>
</configuration>