<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseFilePath" value="CodingTracker.db" />
		<add key="DateFormatShort" value="yyyy-MM-dd" />
		<add key="DateFormatLong" value="yyyy-MM-dd HH:mm" />
		<add key="TimeFormatType" value="c" />
		<add key="TimeFormatString" value="HH:mm" />
		<add key="NumberOfCodingSessionsToSeed" value="200" />
		<add key="NumberOfCodingGoalsToSeed" value="10" />
		<add key="DatabaseConnectionString" value="Data Source=CodingTracker.db;Version=3;" />
	</appSettings>
</configuration>
