<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TableName" value="CodingTracker" />
    </appSettings>
    <connectionStrings>
        <add name="CodingTrackerConnectionString" 
            providerName="System.Data.ProviderName" 
            connectionString="Data Source=CodingTracker.db"/>
    </connectionStrings>
</configuration>
