<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Key0" value="3" />
        <add key="Key1" value="4" />
        <add key="Key2" value="5" />
    </appSettings>
    <connectionStrings>
        <add name="CodingTrackerConnectionString" 
            providerName="System.Data.ProviderName" 
            connectionString="Data Source=CodingTracker.db"/>
    </connectionStrings>
</configuration>
