<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Data Source=D:\VisualStudio Projects\CsharpProjects\C# Academy Repos\CodeReviews.Console.CodingTracker\CodingTracker.K-MYR\CodingTracker.K-MYR\CodingTracker.db"/>		
		<add key="databasePath" value="D:\VisualStudio Projects\CsharpProjects\C# Academy Repos\CodeReviews.Console.CodingTracker\CodingTracker.K-MYR\CodingTracker.K-MYR\CodingTracker.db"/>		
	</appSettings>
</configuration>
